@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.container {
  position: relative;

  /* background-image: url('images/header-background-mobile.png'); */

  height: 718px;
  width: 375px;
  background: #fff;
  display: grid;
  grid-template-columns: auto;
  gap: 90px;
}

.section-works {
  margin: 16px 16px;
}

.card-works {
  height: 220px;
  width: 295px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
  margin-bottom: 350px;
}

.section-works h1 {
  height: 36px;
  width: 295px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.frame-2 .counter {
  height: 8px;
  width: 8px;
  left: 187px;
  top: 12px;
  color: #c1c7d0;
}

.work-detail p {
  height: 76px;
  width: 295px;
  top: 92px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.tags {
  height: 24px;
  width: 203px;
  top: 180px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.tag {
  height: 16px;
  width: 65px;
  left: 12px;
  top: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.action {
  position: relative;
}

.action .btn {
  height: 48px;
  width: 124px;
  top: 12px;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;

/* 
position: absolute;
top: calc(50% - 48px/2);
border: 1px solid #6070ff; */
}

.btn span {
  height: 24px;
  width: 100px;
  left: 12px;
  top: 12px;
  border-radius: nullpx;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

/* Styling anchor tags   */

a {
  text-decoration: none;
}

/* End of Styling anchor tags   */

.frame-2 {
  height: 32px;
  width: 236px;
  top: 48px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.project-title .title {
  height: 36px;
  width: 295px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
  margin-bottom: 20px;
}

.frame-2 .canopy,
.frame-2 .back-end-dev,
.frame-2 .year {
  height: 16px;
  width: 55px;
  top: 8px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.frame-2 .canopy {
  color: #344563;
}

/* Styling about myself section */

.section-about-myself {
  margin: 16px 16px;
}

.about-me {
  height: 101px;
  width: 327px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-bottom: 12px;
}

.job-description .description-of-me {
  height: 144px;
  width: 327px;
  top: 113px;
  border-radius: nullpx;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.lets-connect p {
  height: 24px;
  width: 117px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 16px;
}

.social-networks {
  height: 40px;
  width: 200px;
  top: 40px;
  display: flex;
  align-items: center;
}

.social-network i {
  height: 20px;
  width: 17.985200881958008px;
  left: 0.013671875px;
  right: 0.01%;
  color: #505f79;
  padding-right: 30px;
  margin-bottom: 12px;
}

.about-me-btn {
  height: 48px;
  width: 162px;
  top: 361px;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #6070ff;
  margin-bottom: 12px;
}

.skill-list {
  height: 464.14678955078125px;
  width: 327px;
  left: 24px;
  top: 547px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame-12 {
  height: 320.14678955078125px;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.frame-7 {
  height: 72px;
  width: 327px;
  display: flex;
  justify-content: space-between;
}

.language-list {
  height: 248.14678955078125px;
  width: 327px;
  top: 72px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.language-list .common-ppty {
  height: 66.7155990600586px;
  width: 303px;
  left: 12px;
  top: 12px;
  border-radius: 8px;
  color: #f7f7f9;
  display: flex;
  align-items: center;
  gap: 21px;
}

.frame-12 ul li {
  list-style: none;
}

.common-ppty a {
  height: 24px;
  width: 215px;
  left: 76px;
  top: 21px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.frame-8 {
  height: 72px;
  width: 327px;
  top: 320.146728515625px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame-8 a {
  height: 24px;
  width: 237px;
  left: 12px;
  top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.frame-9 {
  margin-top: 24px;
  height: 72px;
  width: 327px;
  top: 392.146728515625px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame-9 a {
  height: 24px;
  width: 237px;
  left: 12px;
  top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.frame-7 a {
  height: 24px;
  width: 237px;
  left: 12px;
  top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

/* End of Styling about myself section */
